{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
<div class="text-center m-5">
    <h1>Toutes les Catégories de la table category : </h1>
    {% for category in categories %}
        <div>
            <a href="{{ path("category_show", { categoryName: category.name }) }}" class="m-3"><h2>{{ loop.index }} / Catégorie : {{ category.name }} </h2></a>
        </div>
    {% else %}
        Aucune Catégorie trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    </br>
    <a href="{{ path('category_new') }}">Ajouter une categorie</a>
</div>
{% endblock %}