{% extends "base.html.twig" %}
{% block title %}Saison #{{ season.id }}{% endblock %}

{% block body %}  
<div class="text-center m-3">
  <h2>Saison {{ season.number }}</h2>
  <p>Annee: {{ season.year }}</p>
  <p>{{ season.description }}</p>
  <h2>Liste des épisodes</h2>

</div>     
    <ul class="list-group text-center">
    {% for episode in episodes %}
        <a href="{{ path("program_episode_show", { program_slug: program.slug, season_id: season.id, episode_slug: episode.slug }) }}"><li class="list-group-item m-3">Episode {{ episode.number }} : {{ episode.title }}</li></a>
       <p>{{ episode.synopsis }}</p>
    {% else %}
      <li class="list-group-item ">Aucun épisode trouvé.</li>
    {% endfor %}
    <a class="m-3" href="{{ path('episode_new') }}">
      Ajouter un episode
    </a>
    <a href="{{ path("program_show", { slug: program.slug }) }}">
      Retour à la fiche du programme
    </a>
    </ul>
{% endblock %} 