{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="row" style="height: 800px;">
  <img class="col h-100" src="{{program.poster}}" alt="{{ program.title }} poster">
  <div class="col text-center m-3">
    <h1>{{ program.title }}</h1>
    <p>{{ program.summary }}</p>
    <p>Catégorie : {{ program.category.name }}</p>
    <strong>Acteurs :</strong>
<ul>
    {% for actor in program.actors %}
    <a href="{{ path("actor_show", { id: actor.id }) }}"><li>{{ actor.name }} </li></a>
    {% else %}
        <li>Aucun acteur pour cette série</li>
    {% endfor %}
</ul>

    {% for season in seasons %}
    <a href="{{ path("program_season_show", { program_slug: program.slug, season_id: season.id }) }}" class="m-3"> <h3>Saison : {{ season.number }}</h3></a>
    {% endfor %}
    <a class="m-3" href="{{ path('season_new') }}">
      Ajouter une saison
    </a>
    <a class="m-3" href="{{ path('program_index') }}">
      Retour à la liste des programmes
    </a>
  </div>
</div>


{% endblock %}
